<div class="container mx-auto border border-black bg-[#FEFEDF]">
  <div class="flex items-center justify-center">
    <div *ngIf="favoritePokemons.length > 0" class="bg-blue-200 p-4 rounded-lg">
      <app-favorite-pokemon
        [favoritePokemons]="favoritePokemons"
        (addFavorite)="markAsFavorite($event)"
      ></app-favorite-pokemon>
    </div>
  </div>
</div>

<div class="container mx-auto flex border border-black">
  <div class="w-3/4 p-4">
    <h1 class="text-2xl font-bold mb-2">Lista de Pokémon</h1>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <div
        *ngFor="let pokemon of pokemons"
        class="border border-gray-300 rounded p-4 cursor-pointer bg-[#FEFEDF]"
        (click)="selectPokemon(pokemon)"
      >
        {{ pokemon.name }}
        <button (click)="markAsFavorite(pokemon)">
          <span [class.text-red-500]="isFavorite(pokemon)">❤️</span>
        </button>
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="itemsPerPage"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
      ></ngb-pagination>
    </div>
  </div>

  <div class="w-1/4 p-4">
    <app-pokemon-detail
      [selectedPokemon]="selectedPokemon"
    ></app-pokemon-detail>
  </div>
</div>

<div class="mt-4 text-center">
  <h2 class="text-2xl font-bold">Tabla Resumen de Pokémon por Letra</h2>
  <div class="bg-blue-200 rounded-lg p-4">
    <table class="w-full border-collapse border border-blue-400">
      <thead>
        <tr class="bg-blue-500 text-white">
          <th class="p-2">Letra</th>
          <th class="p-2">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of summary" class="bg-blue-100">
          <td class="p-2">{{ item.letter }}</td>
          <td class="p-2">{{ item.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
