<div class="container mx-auto my-4">
  <div class="flex items-center space-x-4">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      (input)="onSearchChange($event)"
      placeholder="Buscar Pokémon por nombre"
      class="p-2 border border-gray-300 rounded shadow-md"
    />
    <button
      class="px-4 py-2 bg-red-500 text-white rounded shadow-md"
      (click)="resetSearch()"
    >
      Limpiar
    </button>
  </div>
</div>

<div
  class="container mx-auto border border-black bg-[#08AEEA] bg-gradient-to-r from-[#08AEEA] via-[#2AF598] to-[#08AEEA] text-white"
>
  <div class="flex items-center justify-center">
    <div *ngIf="favoritePokemons.length > 0" class="p-4 rounded-lg">
      <app-favorite-pokemon
        [favoritePokemons]="favoritePokemons"
        (addFavorite)="markAsFavorite($event)"
      ></app-favorite-pokemon>
    </div>
  </div>
</div>

<div class="container mx-auto flex border border-black bg-blue-500">
  <div class="w-3/4 p-4">
    <h1 class="text-2xl font-bold mb-2">Lista de Pokémon</h1>

    <div
      class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4"
    >
      <div
        *ngFor="let pokemon of pokemons"
        class="border border-gray-300 rounded p-4 cursor-pointer bg-[#FEFEDF]"
        (click)="selectPokemon(pokemon)"
      >
        <span class="text-black">{{ pokemon.name }}</span>
        <button (click)="markAsFavorite(pokemon)">
          <span [class.text-red-500]="isFavorite(pokemon)">❤️</span>
        </button>
      </div>
    </div>

    <div class="flex justify-center mt-4">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="currentPage"
        [pageSize]="itemsPerPage"
        (pageChange)="onPageChange($event)"
        [maxSize]="5"
      ></ngb-pagination>
    </div>
  </div>

  <div class="w-1/4 p-4">
    <app-pokemon-detail
      [selectedPokemon]="selectedPokemon"
    ></app-pokemon-detail>
  </div>
</div>

<div class="mt-4 text-center bg-yellow-500 text-white">
  <h2 class="text-2xl font-bold">Tabla Resumen de Pokémon por Letra</h2>
  <div class="bg-purple-500 rounded-lg p-4">
    <table class="w-full border-collapse border border-purple-600">
      <thead>
        <tr class="bg-purple-700 text-white">
          <th class="p-2">Letra</th>
          <th class="p-2">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of summary" class="bg-purple-300 text-white">
          <td class="p-2">{{ item.letter }}</td>
          <td class="p-2">{{ item.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
